In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [79]:
df = pd.read_csv('/Users/tomaymerich/Downloads/date_x.csv', sep=';')

In [80]:
df

,date,service,match_edf,roland_garros,fashion_week,match_happening,match_happening_cl
0,01/08/2021,0,0,0,0,0,0
1,02/08/2021,0,0,0,0,0,0
2,03/08/2021,0,0,0,0,0,0
3,04/08/2021,0,0,0,0,0,0
4,05/08/2021,0,0,0,0,0,0
...,...,...,...,...,...,...,...
360,27/07/2022,0,0,0,0,0,0
361,28/07/2022,0,0,0,0,0,0
362,29/07/2022,0,0,0,0,0,0
363,30/07/2022,0,0,0,0,0,0
364,31/07/2022,0,0,0,0,0,0

In [81]:
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')

In [82]:
df = pd.DataFrame(np.repeat(df.values,2,axis=0),columns=['date','service','match_edf','roland_garros','fashion_week','match_happening','match_happening_cl'])

In [93]:
df

,date,service,match_edf,roland_garros,fashion_week,match_happening,match_happening_cl
0,2021-08-01,soir,0,0,0,0,0
1,2021-08-01,midi,0,0,0,0,0
2,2021-08-02,midi,0,0,0,0,0
3,2021-08-02,midi,0,0,0,0,0
4,2021-08-03,midi,0,0,0,0,0
...,...,...,...,...,...,...,...
725,2022-07-29,midi,0,0,0,0,0
726,2022-07-30,midi,0,0,0,0,0
727,2022-07-30,midi,0,0,0,0,0
728,2022-07-31,midi,0,0,0,0,0
729,2022-07-31,soir,0,0,0,0,0

In [98]:
int(len(df)-1)

729

In [94]:
df['service']='soir'

In [100]:
for i in np.linspace(0,int(len(df)-2),int((len(df)+1)/2)):
    df['service'][i]='midi'
    print(i)

/var/folders/gq/kdywklvn2c90t1ybrvvvkgl40000gn/T/ipykernel_24435/170241745.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['service'][i]='midi'
/Users/tomaymerich/.pyenv/versions/3.8.6/envs/resto-project/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0.0
2.0
4.0
6.0
8.0
10.0
12.0
14.0
16.0
18.0
20.0
22.0
24.0
26.0
28.0
30.0
32.0
34.0
36.0
38.0
40.0
42.0
44.0
46.0
48.0
50.0
52.0
54.0
56.0
58.0
60.0
62.0
64.0
66.0
68.0
70.0
72.0
74.0
76.0
78.0
80.0
82.0
84.0
86.0
88.0
90.0
92.0
94.0
96.0
98.0
100.0
102.0
104.0
106.0
108.0
110.0
112.0
114.0
116.0
118.0
120.0
122.0
124.0
126.0
128.0
130.0
132.0
134.0
136.0
138.0
140.0
142.0
144.0
146.0
148.0
150.0
152.0
154.0
156.0
158.0
160.0
162.0
164.0
166.0
168.0
170.0
172.0
174.0
176.0
178.0
180.0
182.0
184.0
186.0
188.0
190.0
192.0
194.0
196.0
198.0
200.0
202.0
204.0
206.0
208.0
210.0
212.0
214.0
216.0
218.0
220.0
222.0
224.0
226.0
228.0
230.0
232.0
234.0
236.0
238.0
240.0
242.0
244.0
246.0
248.0
250.0
252.0
254.0
256.0
258.0
260.0
262.0
264.0
266.0
268.0
270.0
272.0
274.0
276.0
278.0
280.0
282.0
284.0
286.0
288.0
290.0
292.0
294.0
296.0
298.0
300.0
302.0
304.0
306.0
308.0
310.0
312.0
314.0
316.0
318.0
320.0
322.0
324.0
326.0
328.0
330.0
332.0
334.0
336.0
338.0
340.0
342.0
344.0
346.0
348.0
350.0
352.0
354.0
356.0
358.0
360.0
362.0
364.0
366.0
368.0
370.0
372.0
374.0
376.0
378.0
380.0
382.0
384.0
386.0
388.0
390.0
392.0
394.0
396.0
398.0
400.0
402.0
404.0
406.0
408.0
410.0
412.0
414.0
416.0
418.0
420.0
422.0
424.0
426.0
428.0
430.0
432.0
434.0
436.0
438.0
440.0
442.0
444.0
446.0
448.0
450.0
452.0
454.0
456.0
458.0
460.0
462.0
464.0
466.0
468.0
470.0
472.0
474.0
476.0
478.0
480.0
482.0
484.0
486.0
488.0
490.0
492.0
494.0
496.0
498.0
500.0
502.0
504.0
506.0
508.0
510.0
512.0
514.0
516.0
518.0
520.0
522.0
524.0
526.0
528.0
530.0
532.0
534.0
536.0
538.0
540.0
542.0
544.0
546.0
548.0
550.0
552.0
554.0
556.0
558.0
560.0
562.0
564.0
566.0
568.0
570.0
572.0
574.0
576.0
578.0
580.0
582.0
584.0
586.0
588.0
590.0
592.0
594.0
596.0
598.0
600.0
602.0
604.0
606.0
608.0
610.0
612.0
614.0
616.0
618.0
620.0
622.0
624.0
626.0
628.0
630.0
632.0
634.0
636.0
638.0
640.0
642.0
644.0
646.0
648.0
650.0
652.0
654.0
656.0
658.0
660.0
662.0
664.0
666.0
668.0
670.0
672.0
674.0
676.0
678.0
680.0
682.0
684.0
686.0
688.0
690.0
692.0
694.0
696.0
698.0
700.0
702.0
704.0
706.0
708.0
710.0
712.0
714.0
716.0
718.0
720.0
722.0
724.0
726.0
728.0

In [127]:
df.nunique()

date                  365
service                 2
match_edf               2
roland_garros           2
fashion_week            2
match_happening         2
match_happening_cl      2
dtype: int64

In [177]:
df.loc[df['date']=='test.date()']

Empty DataFrame
Columns: [date, service, match_edf, roland_garros, fashion_week, match_happening, match_happening_cl]
Index: []

In [135]:
df['match_happening'][117]=1

/var/folders/gq/kdywklvn2c90t1ybrvvvkgl40000gn/T/ipykernel_24435/1670547022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['match_happening'][117]=1

In [136]:
df['match_happening_cl'][117]=1

/var/folders/gq/kdywklvn2c90t1ybrvvvkgl40000gn/T/ipykernel_24435/1081970238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['match_happening_cl'][117]=1

In [137]:
df.to_csv('/Users/tomaymerich/code/tomaymerich14/resto-project/exo_data/events_exo_pred.csv', index=False)

Timestamp('2021-08-31 00:00:00')

datetime.date(2021, 8, 31)